name: combi_toys
description: "A collection of small, useful tools."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: <4.0.0 >=3.6.0 

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2 
  provider: ^6.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
